<!doctype html>
<html lang = "en">
  <head>
  </head>

  <body>
    <!-- HTML -->
    <h1>Weather</h1> 
	
	<p>Enter Date: <input type = "text" id = "datepicker-1"></p>
    <form>
      Plot data for a<br>
      <input type="radio" name="plotTime" id="day" checked="checked" onclick="updatePlot()">day
      <input type="radio" name="plotTime" id="week" onclick="updatePlot()">week
      <input type="radio" name="plotTime" id="month" onclick="updatePlot()">month
      <input type="radio" name="plotTime" id="year" onclick="updatePlot()">year
    </form>
    <form>
      Plot data from<br>
      <input type="radio" name="datasource" id="local" checked="checked" onclick="updatePlot()">Local Sensor
      <input type="radio" name="datasource" id="remote" onclick="updatePlot()">Remote Sensor
    </form>
	<p></p>

    <table>
	  <tr>
	  </tr>
      <tr>
        <th></th>
        <th> Indoor now </th>
		<th> Indoor max </th>
		<th> Indoor min </th>
        <th> Outdoor now </th>
		<th> Outdoor max </th>
		<th> Outdoor min </th>
      </tr>
      <tr>
        <th>Temperature</th>
        <td id=tTinN>-- °C</td>
		<td id=tTinMax>-- °C</td>
		<td id=tTinMin>-- °C</td>
        <td id=tToutN>-- °C</td>
		<td id=tToutMax>-- °C</td>
		<td id=tToutMin>-- °C</td>
      </tr>
      <tr>
        <th>Air Pressure</td>
        <td id=tPinN>---- hpa</td>
		<td id=tPinMax>---- hpa</td>
		<td id=tPinMin>---- hpa</td>
        <td id=tPoutN>---- hpa</td>
		<td id=tPoutMax>---- hpa</td>
		<td id=tPoutMin>---- hpa</td>
      </tr>
      <tr>
        <th>Relative Huminity</td>
        <td id=tHrinN>-- %</td>
		<td id=tHrinMax>-- %</td>
		<td id=tHrinMin>-- %</td>
        <td id=tHroutN>-- %</td>
		<td id=tHroutMax>-- %</td>
		<td id=tHroutMin>-- %</td>
      </tr>
    </table>

	<!--    
	<img src="static/pic.JPG" width="1280" height="720" alt="webcam"></img>
    <button onclick="myFunction()">The time is?</button>
	-->
    
	Enable Filter <input type="checkbox" name="EnFilter" id="EnFilter" checked="checked" onclick="updatePlot()">
    

    
    <link rel="stylesheet" href="static/style.css" type="text/css"> 
    {% for id in ids %}
      <h3>{{id}}</h3>
      <div id="{{id}}"></div>
    {% endfor %}
  </body>

<footer>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <!-- flask js comunication-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>






  <meta charset = "utf-8">
  <title>jQuery UI Datepicker functionality</title>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
     rel = "stylesheet">
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  
   

  <!-- Javascript -->
  <script>
	
    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};
    for(var i in graphs) {
      Plotly.plot(ids[i], // the ID of the div, created above
                  graphs[i].data,
                  graphs[i].layout || {});
    }


    $( "#datepicker-1" ).datepicker(
      { dateFormat: 'dd.mm.yy', 
      onSelect: function(){
        updatePlot();}
      });

    $("#datepicker-1").datepicker({ dateFormat: "dd.mm.yy"}).datepicker("setDate", "0");

	$('#fc').keypress(function(event) {
        if (event.keyCode == 13) {
			updatePlot()
        }
    });



	
    function updatePlot() {
      getTable();
	  var duration;
      if(document.getElementById("day").checked){
        duration="day"
      } else if(document.getElementById("month").checked){
        duration="month"
      } else if(document.getElementById("year").checked){
        duration="year"
      } else if(document.getElementById("week").checked){
        duration="week"
      }
      var geo;
      if(document.getElementById("local").checked){
        geo="local"
      } else if(document.getElementById("remote").checked){
        geo="remote"
      }

	  var filter
	  if(document.getElementById("EnFilter").checked){
		filter="1"
	  }else{
		filter="0";
	  }

	  var array = duration+" "+geo+" "+$("#datepicker-1").datepicker({dateFormat: 'dd.mm.yy'}).val()+" "+filter;

      $.getJSON( '/getNewData', {
        post: array
		    }, function(data) {
		        var time = data.time;
		        var Temperature = [{x: data.time, y: data.temperature, type: 'scatter'}]
		        var Presure = [{x: data.time, y: data.presure, type: 'scatter'}]
		        var hr = [{x: data.time, y: data.rh, type: 'scatter'}]
		        
		        Plotly.newPlot( ids[0], // the ID of the div, created above
		                        Temperature,
		                        {});
		        Plotly.newPlot( ids[1], // the ID of the div, created above
		                        Presure,
		                        {});
		        Plotly.newPlot( ids[2],
		                        hr,
		                        {});
		        }
        );

    
	}

	var timer = setInterval(getTable, 30000);

	function getTable(){
	  var duration;
      if(document.getElementById("day").checked){
        duration="day"
      } else if(document.getElementById("month").checked){
        duration="month"
      } else if(document.getElementById("year").checked){
        duration="year"
      } else if(document.getElementById("week").checked){
        duration="week"
      }

	  var array = duration + " " +$("#datepicker-1").datepicker({dateFormat: 'dd.mm.yy'}).val();



      $.getJSON( '/getCurrent', {
        post: array
		    }, function(data) {
					document.getElementById("tTinN").innerHTML = data.TInN+" °C";
					document.getElementById("tTinMax").innerHTML = data.TInMax+" °C";
					document.getElementById("tTinMin").innerHTML = data.TInMin+" °C";

					document.getElementById("tToutN").innerHTML = data.TOutN+" °C";
					document.getElementById("tToutMax").innerHTML = data.TOutMax+" °C";
					document.getElementById("tToutMin").innerHTML = data.TOutMin+" °C";

					document.getElementById("tPinN").innerHTML = data.PInN+" hpa";
					document.getElementById("tPinMax").innerHTML = data.PInMax+" hpa";
					document.getElementById("tPinMin").innerHTML = data.PInMin+" hpa";
		
					document.getElementById("tPoutN").innerHTML = data.POutN+" hpa";
					document.getElementById("tPoutMax").innerHTML = data.POutMax+" hpa";
					document.getElementById("tPoutMin").innerHTML = data.POutMin+" hpa";

					document.getElementById("tHrinN").innerHTML = data.HrInN+" %";
					document.getElementById("tHrinMax").innerHTML = data.HrInMax+" %";
					document.getElementById("tHrinMin").innerHTML = data.HrInMin+" %";

					document.getElementById("tHroutN").innerHTML = data.HrOutN+" %";
					document.getElementById("tHroutMax").innerHTML = data.HrOutMax+" %";
					document.getElementById("tHroutMin").innerHTML = data.HrOutMin+" %";
		        }
        );

	}	


	getTable();




  </script>


</footer>




</html>
